@using immfegi.ViewModels.Article;
@using immfegi.Data
@model ArticleFormViewModel

@{
	ViewData["Title"] = "Подать статью";
}

<div class="container py-5 h-100">
	<div class="row d-flex justify-content-center align-items-center h-100">
		<div class="col-12 col-md-8 ">
			<div class="card shadow-2-strong" style="border-radius: 1rem;">
				<div class="card-body p-5 text-center">
					<h3 class="mb-5">Регистрационная форма</h3>
					@if (TempData["Error"] != null)
					{
						<div class="col-md-12 alert alert-danger">
							<span><b>Ошибка!</b> - @TempData["Error"] </span>
						</div>
					}
					@if (TempData["Success"] != null)
					{
						<div class="col-md-12 alert alert-success">
							<span><b>Успешно!</b> - @TempData["Success"] </span>
						</div>
					}
					<form asp-action="Upload" enctype="multipart/form-data">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" id="ApplicationUserId" name="ApplicationUserId" asp-for="ApplicationUserId" />
						<input type="hidden" id="UploadDateTime" name="UploadDateTime" asp-for="UploadDateTime" />
						<input type="hidden" id="ArticleFormStatus" name="ArticleFormStatus" asp-for="ArticleFormStatus" />
						
						<div class="form-group m-2">
							<label asp-for="SpeakerSurname" class="control-label"></label>
							<input asp-for="SpeakerSurname" class="form-control rounded-pill" />
							<span asp-validation-for="SpeakerSurname" class="text-danger"></span>
						</div>
						<div class="form-group m-2">
							<label asp-for="SpeakerName" class="control-label"></label>
							<input asp-for="SpeakerName" class="form-control rounded-pill" />
							<span asp-validation-for="SpeakerName" class="text-danger"></span>
						</div>
						<div class="form-group m-2">
							<label asp-for="SpeakerPatronymic" class="control-label"></label>
							<input asp-for="SpeakerPatronymic" class="form-control rounded-pill" />
							<span asp-validation-for="SpeakerPatronymic" class="text-danger"></span>
						</div>
						<div class="form-group m-2">
							<label asp-for="FullEducationInstitutionName" class="control-label"></label>
							<input asp-for="FullEducationInstitutionName" class="form-control rounded-pill" />
							<span asp-validation-for="FullEducationInstitutionName" class="text-danger"></span>
						</div>
						<div class="form-group m-2">
							<label asp-for="SpeakerPost" class="control-label"></label>
							<input asp-for="SpeakerPost" class="form-control rounded-pill" />
							<span asp-validation-for="SpeakerPost" class="text-danger"></span>
						</div>
						
						
						
						<div class="form-group m-2">
							<label asp-for="Course" class="control-label"></label>
							<input asp-for="Course" class="form-control rounded-pill" />
							<span asp-validation-for="Course" class="text-danger"></span>
						</div>
						
						
						
						
						<div class="form-group m-2">
							<label asp-for="ScientificTitle" class="control-label"></label>
							<input asp-for="ScientificTitle" class="form-control rounded-pill" />
							<span asp-validation-for="ScientificTitle" class="text-danger"></span>
						</div>
						<div class="form-group m-2">
							<label asp-for="Group" class="control-label"></label>
							<input asp-for="Group" class="form-control rounded-pill" />
							<span asp-validation-for="Group" class="text-danger"></span>
						</div>
						<div class="form-group m-2">
							<label asp-for="ArticleNameOnRussian" class="control-label"></label>
							<input asp-for="ArticleNameOnRussian" class="form-control rounded-pill" />
							<span asp-validation-for="ArticleNameOnRussian" class="text-danger"></span>
						</div>
						<div class="form-group m-2">
							<label asp-for="ArticleNameOnEnglish" class="control-label"></label>
							<input asp-for="ArticleNameOnEnglish" class="form-control rounded-pill" />
							<span asp-validation-for="ArticleNameOnEnglish" class="text-danger"></span>
						</div>
						<div class="form-group m-2">
							<label asp-for="IntendedParticipation" class="control-label"></label>
							<select asp-items="@Html.GetEnumSelectList<IntendedParticipation>()" asp-for="IntendedParticipation" class="form-control rounded-pill" placeholder="Выберите"></select>
							<span asp-validation-for="IntendedParticipation" class="text-danger"></span>
						</div>
						<div class="form-group m-2">
							<label asp-for="Section" class="control-label"></label>
							<select asp-for="Section"  class="form-control rounded-pill" placeholder="Выберите секцию">
								<option>Секция 1. Фундаментальные и прикладные аспекты высшей математики в современных исследованиях.</option>
								<option>Секция 2. Физические исследования природных процессов.</option>
								<option>Секция 3. Современные прикладные информационные системы и геотехнологии</option>
								<option>Секция 4. Развитие исследований в гидрометеорологии и экологии.</option>
							</select>
							<span asp-validation-for="Section" class="text-danger"></span>
						</div>
						<div class="form-group m-2">
							<label asp-for="SpeakerPhoneNumber" class="control-label"></label>
							<input asp-for="SpeakerPhoneNumber" class="form-control rounded-pill" />
							<span asp-validation-for="SpeakerPhoneNumber" class="text-danger"></span>
						</div>
						<div class="form-group m-2">
							<label asp-for="SpeakerEmail" class="control-label"></label>
							<input asp-for="SpeakerEmail" class="form-control rounded-pill" />
							<span asp-validation-for="SpeakerEmail" class="text-danger"></span>
						</div>
						<div class="form-group m-2">
							<label asp-for="SpeakerRole" class="control-label"></label>
							<select id="SpeakerRole" asp-items="@Html.GetEnumSelectList<SpeakerRole>()" asp-for="SpeakerRole" class="form-control rounded-pill" placeholder="Выберите"></select>
							<span asp-validation-for="IntendedParticipation" class="text-danger"></span>
						</div>
						<div id="scientificDirectorGroup">
							<div  class="form-group m-2">
                            							<label asp-for="ScientificDirectorSurname" class="control-label"></label>
                            							<input asp-for="ScientificDirectorSurname" class="form-control rounded-pill" />
                            							<span asp-validation-for="ScientificDirectorSurname" class="text-danger"></span>
                            						</div>
                            						<div class="form-group m-2">
                            							<label asp-for="ScientificDirectorName" class="control-label"></label>
                            							<input asp-for="ScientificDirectorName" class="form-control rounded-pill" />
                            							<span asp-validation-for="ScientificDirectorName" class="text-danger"></span>
                            						</div>
                            						<div class="form-group m-2">
                            							<label asp-for="ScientificDirectorPatronymic" class="control-label"></label>
                            							<input asp-for="ScientificDirectorPatronymic" class="form-control rounded-pill" />
                            							<span asp-validation-for="ScientificDirectorPatronymic" class="text-danger"></span>
                            						</div>
                            						<div class="form-group m-2">
                            							<label asp-for="ScientificDirectorFullEducationInstitutionName" class="control-label"></label>
                            							<input asp-for="ScientificDirectorFullEducationInstitutionName" class="form-control rounded-pill" />
                            							<span asp-validation-for="ScientificDirectorFullEducationInstitutionName" class="text-danger"></span>
                            						</div>
                            						<div class="form-group m-2">
                            							<label asp-for="ScientificDirectorPost" class="control-label"></label>
                            							<input asp-for="ScientificDirectorPost" class="form-control rounded-pill" />
                            							<span asp-validation-for="ScientificDirectorPost" class="text-danger"></span>
                            						</div>
                            						<div class="form-group m-2">
                            							<label asp-for="ScientificDirectorTitle" class="control-label"></label>
                            							<input asp-for="ScientificDirectorTitle" class="form-control rounded-pill" />
                            							<span asp-validation-for="ScientificDirectorTitle" class="text-danger"></span>
                            						</div>
                            						<div class="form-group m-2">
                            							<label asp-for="ScientificDirectorPhoneNumber" class="control-label"></label>
                            							<input asp-for="ScientificDirectorPhoneNumber" class="form-control rounded-pill" />
                            							<span asp-validation-for="ScientificDirectorPhoneNumber" class="text-danger"></span>
                            						</div>
							<div class="form-group m-2">
								<label asp-for="ScientificDirectorEmail" class="control-label"></label>
								<input asp-for="ScientificDirectorEmail" class="form-control rounded-pill" />
								<span asp-validation-for="ScientificDirectorEmail" class="text-danger"></span>
							</div>
							
						</div>
						<div class="form-group m-2">
							<label asp-for="Article" class="control-label"></label>
							<input type="file" accept=".doc, .docx" asp-for="Article" />
							<span asp-validation-for="Article" class="text-danger"></span>
						</div>
						<div class="form-group m-2">
							<input class="btn btn-outline-success float-right rounded-pill" type="submit" value="Зарегистрироваться" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        // Обрабатываем изменение выбора в SpeakerRole
        $('#SpeakerRole').change(function () {
            // Если выбрано значение "Преподаватель", скрываем поле ScientificDirectorSurname
            if ($(this).val() === "1") {
                $('#scientificDirectorGroup').hide();
            } else {
                // В противном случае, показываем поле ScientificDirectorSurname
                $('#scientificDirectorGroup').show();
            }
        });
    });
</script>








