@{
    ViewData["Title"] = "Главная";
}
<div class="bg-image"  style="background-repeat: no-repeat; background-size:cover; background-image: url(source/bg.jpg); height:1000px ">
   
    <div style="padding-top:30px" class="text-center">
        <h6 class="fs-3 text-light p-1">Федеральное государственное бюджетное образовательное учреждение высшего образования</h6>
        <h6 class="fs-3 text-light p-1">«Российский государственный гидрометеорологический университет»</h6>
        <h6 class="fs-3 text-light p-1">Государственное бюджетное общеобразовательное учреждение лицей № 393 Кировского района Санкт-Петербурга</h6>
        <h1  class="display-4 text-light fw-bold">III МЕЖДУНАРОДНАЯ НАУЧНО-ПРАКТИЧЕСКАЯ КОНФЕРЕНЦИЯ «ИННОВАЦИОННЫЕ МЕТОДЫ МАТЕМАТИКИ И ФИЗИКИ В ЭКОЛОГИЧЕСКИХ И ГИДРОМЕТЕОРОЛОГИЧЕСКИХ ИССЛЕДОВАНИЯХ»</h1>
        <h6 class="display-4 text-light p-3 fw-bold">5 апреля 2024 года, г. Санкт-Петербург</h6>
    </div>
</div>


<div id="aboutConferenceBlock">
    <div class="container-fluid">
        <div class="d-flex flex-row m-5">
            <div>
                <div class="m-5">
                    <h1 class="fw-bold p-1">О конференции</h1>
                    <p class="fs-5">Конференция призвана поддерживать высокий научный уровень научной дискуссии о современных видах энергии и тенденциях в информатике, методах их изучения и развития с привлечением к этому процессу квалифицированных экспертов – представителей науки, бизнеса и власти.</p>
                </div>
                
                <div class="m-5">
                    <h1 class="fw-bold p-1">Цель конференции</h1>
                    <p class="fs-5">Обсуждение и обмен результатами и перспективами использования инновационных методов, достижений, тенденций математики и физики в гидрометеорологических и экологических исследованиях.</p>
                </div>
                

            </div>
            <div class="m-5">
                <h1 class="fw-bold p-1">Секции конференции</h1>
                <ul>
                    <li class="fs-5">Секция 1. Фундаментальные и прикладные аспекты высшей математики в современных исследованиях.</li>
                    <li class="fs-5">Секция 2. Физические исследования природных процессов.</li>
                    <li class="fs-5">Секция 3. Современные прикладные информационные системы и геотехнологии.</li>
                    <li class="fs-5">Секция 4. Развитие исследований в гидрометеорологии и экологии.</li>
                    <li class="fs-5">Секция 5. (для школьников). Конкурс научно-исследовательских работ «МИФы в Природе (математика, информатика, физика в природе)».</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="committeeBlock" style="background:#d4effc">
    <div class="container p-5">
        <div class="d-flex flex-column">
            <div>
                <h1 class="text-center display-4 fw-bold">Организационный комитет</h1>
                <div>
                    <h6 class="fs-4 fw-bold">Председатель:</h6>
                    <ul>
                        <li class="fs-5">Михеев Валерий Леонидович, кандидат юридических наук, ректор.</li>
                    </ul>
                </div>
                <div>
                    <h6 class="fs-4 fw-bold">Заместители председателя:</h6>
                    <ul>
                        <li class ="fs-5">Верещагина Наталья Олеговна, доктор педагогических наук, проректор по учебной работе</li>
                        <li class="fs-5">Леонтьев Денис Валентинович, кандидат юридических наук, проректор по развитию и научной работе</li>
                    </ul>
                </div>
                <div>
                    <h6 class="fs-4 fw-bold">Члены комитета</h6>
                    <ul>
                        <li class="fs-5">Беликова Галина Иосифовна, старший преподаватель кафедры высшей математики и физики;</li>
                        <li class="fs-5">Бобровский Анатолий Петрович, кандидат физико-математических наук, доцент кафедры высшей математики и физики;</li>
                        <li class="fs-5">Бровкина Екатерина Анатольевна, старший преподаватель кафедры высшей математики и физики;</li>
                        <li class="fs-5">Бурлов Вячеслав Георгиевич, доктор технических наук, профессор кафедры информационных технологий и систем безопасности;</li>
                        <li class="fs-5">Дьяченко Наталия Владимировна, доктор технических наук, профессор кафедры высшей математики и физики;</li>
                        <li class="fs-5">Ермакова Татьяна Сергеевна, кандидат физико-математических наук, доцент кафедры метеорологических прогнозов; </li>
                        <li class="fs-5">Завгородний Владимир Николаевич, доктор технических наук, профессор кафедры информационных технологий и систем безопасности;</li>
                        <li class="fs-5">Зайцева Ирина Владимировна, кандидат физико-математических наук, заведующий кафедрой высшей математики и физики;</li>
                        <li class="fs-5">Истомин Евгений Петрович, доктор технических наук, директор института информационных систем и геотехнологий;</li>
                        <li class="fs-5">Михтеева Елена Юрьевна, кандидат химических наук, доцент кафедры высшей математики и физики;</li>
                        <li class="fs-5">Петрова Вера Валерьевна, кандидат физико-математических наук, доцент кафедры высшей математики и физики;</li>
                        <li class="fs-5">Потапова Ирина Александровна, доктор физико-математических наук, профессор кафедры высшей математики и физики;</li>
                        <li class="fs-5">Сикарев Игорь Александрович, доктор технических наук, профессор кафедры информационных технологий и систем безопасности;</li>
                        <li class="fs-5">Скобликова Анна Львовна, кандидат физико-математических наук, доцент кафедры высшей математики и физики;</li>
                        <li class="fs-5">Тарасенко Ольга Анатольевна, секретарь института информационных систем и геотехнологий;</li>
                        <li class="fs-5">Тюрина Оксана Дмитриевна, студентка направления Прикладная информатика, ПИ-Б20-1-2;</li>
                        <li class="fs-5">Фадеев Сергей Николаевич, кандидат физико-математических наук, доцент кафедры высшей математики и физики;</li>
                        <li class="fs-5">Хлябич Петр Петрович, кандидат физико-математических наук, доцент кафедры высшей математики и физики;</li>
                        <li class="fs-5">Чуркин Ярослав Дмитриевич, студент направления Корабельное вооружение, КВ-Б21-1;</li>
                        <li class="fs-5">Яковлева Татьяна Юрьевна, кандидат физико-математических наук, доцент кафедры высшей математики и физики;</li>
                        <li class="fs-5">Ятченко Андрей Сергеевич, студент направления Прикладная информатика, ПИ-Б23-1-2.</li>
                    </ul>
                </div>

            </div>
            <div>
                <h1 class="text-center display-4 fw-bold">Программный комитет</h1>
                <div>
                    <h6 class="fs-4 fw-bold">Члены комитета</h6>
                    <ul>
                        <li class="fs-5">Гулбоев Б. Д., Российско-Таджикский (Славянский) университет (Таджикистан).</li>
                        <li class="fs-5">Егоров Н.В., д-р физ.-мат. наук, профессор СПбГУ (Россия).</li>
                        <li class="fs-5">Дробжева Я.В., д-р физ.-мат. наук, доцент РГГМУ (Россия).</li>
                        <li class="fs-5">Завгородний В.Н., д-р техн. наук, профессор РГГМУ (Россия).</li>
                        <li class="fs-5">Камачкин А.М., д-р физ.-мат. наук, профессор СПбГУ (Россия).</li>
                        <li class="fs-5">Квитко А.Н., д-р физ.-мат. наук, профессор СПбГУ (Россия).</li>
                        <li class="fs-5">Кефели И.Ф., д-р физ.-мат. наук, профессор РАГС (Россия).</li>
                        <li class="fs-5">Колесин И.Д., д-р физ.-мат. наук, профессор СПбГУ (Россия).</li>
                        <li class="fs-5">Колокольцов В.Н., д-р физ.-мат. наук, профессор МГУ (Россия).</li>
                        <li class="fs-5">Колпак Е.П., д-р физ.-мат. наук, профессор СПбГУ (Россия).</li>
                        <li class="fs-5">Комаров А.А., д-р с.-х. наук, профессор АФИ РАСХН (Россия).</li>
                        <li class="fs-5">Кулуева Ч. Р., д-р экон. наук, профессор ОГУ (Киргизия).</li>
                        <li class="fs-5">Малафеев О.А., д-р физ.-мат. наук, профессор СПбГУ (Россия).</li>
                        <li class="fs-5">Михеев С.Е., д-р физ.-мат. наук, доцент СПбГУ (Россия).</li>
                        <li class="fs-5">Овсянников Д.А., д-р физ.-мат. наук, профессор СПбГУ (Россия).</li>
                        <li class="fs-5">Пичугин Ю.А., д-р физ.-мат. наук, профессор ГУАП (Россия).</li>
                        <li class="fs-5">Потапова И.А. д-р физ.-мат. наук, профессор РГГМУ (Россия).</li>
                        <li class="fs-5">Сикарев И.А., д-р техн. наук, профессор, академик РАТ, РГГМУ (Россия).</li>
                        <li class="fs-5">Смирнов Н.В., д-р физ.-мат. наук, профессор СПбГУ (Россия).</li>
                        <li class="fs-5">Яковец Ю.В., д-р экон. наук, профессор, академик РАЕН и МАГИ, МИСК (Россия).</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="requirementsBlock">
    <div class="container p-5">
        <div class="text-center">
            <h1 class="text-center display-4 fw-bold">Требования к статьям</h1>
            <h6 class="fs-5 m-5">К рассмотрению принимаются рукописи, которые ранее не были опубликованы в других изданиях, обладающие научной новизной, соответствующие тематике конференции и представляющие теоретическую и практическую значимость. Все работы проходят процедуру слепого рецензирования.</h6>
            <h6 class="fs-5 m-5">Критерии рецензирования: Качество аннотации; Актуальность материалов для конференции; Введение и актуальность исследования, Научная новизна, Уровень представления результатов, Обоснованность выводов и будущая работа, Качество рисунков, Качество английского языка</h6>
            <h6 class="fs-5 m-5">Все работы проходят проверку в системе антиплагиат. Минимальная оригинальность статьи на русском языке - 65%.</h6>
        </div>
    </div>
</div>
<div id="letterBlock" style="background:#d4effc">
    <div class="container p-5">
        <div class="text-center">
            <h1 class="text-center display-4 fw-bold">Информационное письмо</h1>
            <h6 class="fs-5 m-5">Для того чтобы ваше участие было максимально продуктивным, необходимо ознакомиться с информационным письмом. В нем содержится ключевая информация о мероприятии, его расписании, важных деталях и правилах участия.</h6>
            <a href="https://disk.yandex.ru/i/Fi9sNY0aEP_hPg" target="_blank" class="fs-5 m-5">Информационное письмо</a>
        </div>
    </div>
</div>
<div id="templateBlock">
    <div class="container p-5">
        <div class="text-center">
            <h1 class="text-center display-4 fw-bold">Пример оформления научной статьи</h1>
            <h6 class="fs-5 m-5">Для участия в конференции, необходимо зарегистрироваться, заполнить форму и прикрепить статью, оформленную по примеру.</h6>
            <a href="https://disk.yandex.ru/i/tLQuVgfvBTnFkA" target="_blank" class="fs-5 m-5">Пример оформления статьи</a>
        </div>
    </div>
</div>
<div id="NirBlock" style="background:#d4effc">
    <div class="container p-5">
        <div class="text-center">
            <h1 class="text-center display-4 fw-bold">Конкурс НИР</h1>
            <h6 class="fs-5 m-5">Для участия в конкурсе научно-исследовательских работ необходимо зарегистрироваться на сайте, заполнить форму регистрации на конкурс НИР и прикрепить файл с текстом работы. В Приложениях 2 и 3 Информационного письма приведены требования к оформлению научно-исследовательской работы. Файл с текстом НИР необходимо назвать следующим образом - фамилия автора работы_НИР (например, Иванов_НИР). Более полная информация в 1-м информационном письме</h6>
            <a href="https://disk.yandex.ru/i/Fi9sNY0aEP_hPg" target="_blank" class="fs-5 m-5">Информационное письмо</a>
        </div>
    </div>
</div>
<div id="CertsBlock">
    <div class="container p-5">
        <div class="text-center">
            <h1 class="text-center display-4 fw-bold">Сертификаты за участие</h1>
            <a href="https://disk.yandex.ru/d/QfcyxThY1qeeCw" target="_blank" class="fs-5 m-5">Сертификаты</a>
        </div>
    </div>
</div>
<div id="archiveBlock" style="background:#d4effc">
    <div class="container p-5">
        <div class="text-center">
            <h1 class="text-center display-4 fw-bold">Архив</h1>
            <a href="https://disk.yandex.ru/d/EeEAPEhUhT77vA" target="_blank" class="fs-5 m-5">Фотографии с конференций</a>
        </div>
    </div>
</div>
<div id="partnerBlock">
    <div id="targetBlock" class="container p-5">
        <h1 class="text-center display-4 fw-bold">Партнеры конференции</h1>
        <div>
            <div class="d-flex flex-row">
                <img src="/source/IMC.png" style="width: 700px; height: 200px" class="p-4" />
                <img src="/source/consorcium.PNG" style="width: 250px; height: 250px" class="p-4" />
                <img src="/source/Spbgu.png" style="width: 700px; height: 200px" class="p-4" />
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('#navigation a').forEach(function (anchor) {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
                var targetId = this.getAttribute('href').substring(1);
                var targetElement = document.getElementById(targetId);
                if (targetElement) {
                    var targetOffset = targetElement.offsetTop;
                    window.scrollTo({
                        top: targetOffset,
                        behavior: 'smooth'
                    });
                }
            });
        });
    });
</script>
<script>
    document.getElementById('scrollAboutConferenceButton').addEventListener('click', function () {
            document.getElementById('aboutConferenceBlock').scrollIntoView({ behavior: 'smooth' });
        });
</script>
<script>
    document.getElementById('scrollCommitteeButton').addEventListener('click', function () {
            document.getElementById('committeeBlock').scrollIntoView({ behavior: 'smooth' });
        });
</script>
<script>
    document.getElementById('scrollLetterButton').addEventListener('click', function () {
            document.getElementById('letterBlock').scrollIntoView({ behavior: 'smooth' });
        });
</script>
<script>
    document.getElementById('scrollRequirementsButton').addEventListener('click', function () {
            document.getElementById('requirementsBlock').scrollIntoView({ behavior: 'smooth' });
        });
</script>
<script>
    document.getElementById('scrollTemplateButton').addEventListener('click', function () {
            document.getElementById('templateBlock').scrollIntoView({ behavior: 'smooth' });
        });
</script>
<script>
     document.getElementById('scrollPartnerButton').addEventListener('click', function () {
            document.getElementById('partnerBlock').scrollIntoView({ behavior: 'smooth' });
        });
</script>
<script>
    document.getElementById('scrollButton').addEventListener('click', function () {
        document.getElementById('targetBlock').scrollIntoView({ behavior: 'smooth' });
    });
</script>
<script>
    document.getElementById('scrollNirButton').addEventListener('click', function () {
        document.getElementById('NirBlock').scrollIntoView({ behavior: 'smooth' });
    });
</script>
<script>
    document.getElementById('scrollCertsButton').addEventListener('click', function () {
        document.getElementById('CertsBlock').scrollIntoView({ behavior: 'smooth' });
    });
</script>
<script>
    document.getElementById('scrollArchiveButton').addEventListener('click', function () {
        document.getElementById('archiveBlock').scrollIntoView({ behavior: 'smooth' });
    });
</script>
